django-stubs[compatible-mypy]
faker~=37.4.2
django~=5.2.4
pytest-django
django-debug-toolbar
pillow
pytest~=8.4.1
coverage
python-dotenv~=1.1.1
pytest-dotenv
selenium~=4.34.2
djangorestframework~=3.16.0
djangorestframework-simplejwt