{% if request.user.is_authenticated %}
    <div class="login-message">
        <span>You are logged in with {{ request.user.username }}. See your </span>
        <a href="{% url 'authors:dashboard' %}">recipes</a>
        <span> or</span>
        <form action="{% url 'authors:logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ request.user.username }}">
            <button class="plaintext-button" type="submit">
                click here
            </button>
        </form>
        <span>to log out.</span>
    </div>
{% endif %}